.password-reset-wrapper {
  margin-top: 50px;
}

.password-reset-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #36373c;
  text-align: left;
}

.password-reset-input-box {
  height: 45px;
  border: 1px solid #c7c8ce;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.password-reset-input-box i {
  cursor: pointer;
  margin-right: 11px;
}

.password-reset-input-box input {
  width: 100%;
  margin-left: 10px;
  border: 0 solid black;
  outline: none;
}

.password-reset-btn {
  height: 45px;
  width: 100%;
  background: #4f0d92;
  border-width: 0px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

.password-reset-error-msg {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #ff2828;
  text-align: left;
  margin: 8px 0px 19px 6px;
}

.password-reset-error-msg i {
  margin-left: 5px;
  font-size: 15px;
  cursor: auto;
}
